    <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example m-0 border-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Дата</th>
                        <th scope="col">Баланс</th>
                    </tr>
                </thead>
                <tbody>
                    {% for balance_history_note in balance_history_list %}
                    <tr>
                        <td>{{ balance_history_note.amendment }} </td>
                        <td>{{ balance_history_note.new_balance }} ₽</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>