{% extends 'base.html' %}

{% block title %}
Меню работы с запросами
{% endblock %}

{% block body %}

<div class="container center-content">
    <h2>Меню работы с запросами</h2>
    <div class="list-group mt-4">
        <a href="{{ url_for('blueprint_request.service_cost_detail') }}" class="list-group-item list-group-item-action">Поиск по стоимости услуг</a>
        <a href="{{ url_for('blueprint_request.service_name_detail') }}" class="list-group-item list-group-item-action">Поиск по названию услуг</a>
    </div>
</div>
{% endblock %}
