.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

body {
    font-size: 1rem;
}

.input-group .form-control, .input-group .btn {
    width: 250px;
}