{% extends 'base.html' %}

{% block title %}
Поиск по запросу
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form method="post">
        <div class="mb-3">
            {% if query_type == 'name' %}
            <label for="queryInput" class="form-label">Имя клиента</label>
            <input type="text" class="form-control" id="queryInput" name="client_name" value="{{ query }}" required>
            {% elif query_type == 'balance' %}
            <div class="mb-3">
                <label for="minBalance" class="form-label">Минимальный баланс</label>
                <input type="number" class="form-control" id="minBalance" name="min_balance" value="{{ min_balance }}" required>
            </div>
            <div class="mb-3">
                <label for="maxBalance" class="form-label">Максимальный баланс</label>
                <input type="number" class="form-control" id="maxBalance" name="max_balance" value="{{ max_balance }}" required>
            </div>
            {% elif query_type == 'birthday' %}
            <div class="mb-3">
                <label for="Month" class="form-label">Месяц</label>
                <input type="number" class="form-control" id="Month" name="month" value="{{ month }}" required>
            </div>
            <div class="mb-3">
                <label for="Year" class="form-label">Год</label>
                <input type="number" class="form-control" id="Year" name="year" value="{{ year }}" required>
            </div>
            {% elif query_type == 'active' %}
            <div class="mb-3">
                <label for="Month2" class="form-label">Месяц</label>
                <input type="number" class="form-control" id="Month2" name="month2" value="{{ month2 }}" required>
            </div>
            <div class="mb-3">
                <label for="Year2" class="form-label">Год</label>
                <input type="number" class="form-control" id="Year2" name="year2" value="{{ year2 }}" required>
            </div>
            {% elif query_type == 'constant' %}
            <div class="mb-3">
                <label for="Month3" class="form-label">Месяц</label>
                <input type="number" class="form-control" id="Month3" name="month3" value="{{ month3 }}" required>
            </div>
            <div class="mb-3">
                <label for="Year3" class="form-label">Год</label>
                <input type="number" class="form-control" id="Year3" name="year3" value="{{ year3 }}" required>
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>

    {% if query and data %}
    <div class="alert alert-primary mt-3" role="alert">
      Поиск по запросу "{{ query }}"
    </div>
    {% elif not data and query %}
    <div class="alert alert-warning mt-3" role="alert">
      По запросу "{{ query }}" ничего не найдено.
    </div>
    {% endif %}
    {% if query %}
        {% include 'clients/table.html' %}
    {% endif %}

</div>
{% endblock %}
