    <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example m-0 border-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">№ договора</th>
                        <th scope="col">Статус клиенты</th>
                        <th scope="col">Паспортные данные</th>
                        <th scope="col">Дата рождения</th>
                        <th scope="col">Имя клиента</th>
                        <th scope="col">Баланс</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.contract_number }} </td>
                        <td>{{ client.service_status }} </td>
                        <td>{{ client.passport }} </td>
                        <td>{{ client.birthday }} </td>
                        <td>{{ client.client_name }} </td>
                        <td>{{ client.current_balance }} ₽</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{{ url_for('blueprint_clients.minus_cash') }}" method="post">
                <input type="date" name="date_of_writeoff">
                <button type="submit" class="btn btn-primary btn-sm">Списать деньги</button>
            </form>
        </div>
    </div>